<%- include ("includes/header") %>

            <div class="container-fluid upload-details">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="main-title">
                        <h6>Settings</h6>
                     </div>
                  </div>
               </div>
               <form method="POST" action="/save_settings">

                   <div class="row">
                       <div class="col-md-12">
                           <% if (error != "") { %>
                               <div class="alert alert-danger">
                                   <%= error %>
                               </div>
                           <% } %>

                           <% if (message != "") { %>
                               <div class="alert alert-success">
                                   <%= message %>
                               </div>
                           <% } %>
                       </div>
                   </div>

                  <div class="row">
                     <div class="col-sm-6">
                        <div class="form-group">
                           <label class="control-label">Khoa</label>
                           <input class="form-control border-form-control" name="name" value="<%= user.name %>" required>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-sm-6">
                        <div class="form-group">
                           <label class="control-label">Mật khẩu</label>
                           <input class="form-control border-form-control" name="password" placeholder="******" type="password">
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-success border-none"> Lưu </button>
                     </div>
                  </div>
               </form>
            </div>
            <!-- /.container-fluid -->

<%- include ("includes/footer") %>
